@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #32CA87;
}

.text-stroke:hover {
  -webkit-text-stroke: 0.5px white;
}

.text-stroke-black {
  -webkit-text-stroke: 0.5px #003840;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #CCD7D9 !important;
  opacity: 100 !important;
  margin: 0 5px;
  line-height: 74% !important;
}

.swiper-pagination {
  line-height: 74% !important;
}

.swiper-wrapper {
  padding-bottom: 40px !important;
}

.swiper-pagination-bullet-active {
  background-color: #32CA87 !important;
  opacity: 100 !important;
}


input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

.custom-select.open .select-options {
  display: block;
}

.custom-select.open .select-arrow {
  transform: rotate(180deg);
}

.custom-select-wrapper:focus {
  outline: 2px solid red !important;
  border-color: greenyellow;
}

.focus\:border-dark-sea-green:focus {
  border: 1px solid #003840;
}

:focus {
  outline: none;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/assets/images/svg/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px;
  padding-right: 30px;
}